<?xml version="1.0"?>
<ruleset name="EventOS">
	<description>WordPress Coding Standards for the EventOS plugin.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/assets/admin/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="eventos"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="eventos"/>
				<element value="EventOS"/>
			</property>
		</properties>
	</rule>

	<rule ref="PHPCompatibilityWP"/>
	<config name="testVersion" value="8.0-"/>
	<config name="minimum_wp_version" value="6.4"/>
</ruleset>
